apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: bitcare-attendance
  labels:
    app: web
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30080

