apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: bitcare-attendance
  labels:
    app: mysql
spec:
  type: NodePort
  selector:
    app: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      nodePort: 33066

